<!DOCTYPE html>
<html lang="pt_br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>EpiContact</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">EpiContacts</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/contact" th:text="#{contact.family}"></a></li>
            <li><a href="#" th:text="#{contact.friends}" ></a></li>
            <li><a href="#" th:text="#{user.profile}"></a></li>
            <li>
                  <!-- Dropdown Trigger -->
                <a class='dropdown-trigger' href='#' data-target='dropdown1'> <img th:src="${avatar_url}"width="45" class="circle responsive-img" alt="Foto de perfil do usuario"></a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><span th:text="${username}"></span></li>
                  <li class="divider" tabindex="-1"></li>
                  <li><a href="/logout"><i class="material-icons">logout</i>sair</a></li>
                </ul>

            </li>
          </ul>
        </div>
      </nav>

    <main class="container">
        <div class="card-panel green" th:if="${success}" th:text="${success}"></div>
        <h2>Contatos família</h2>
        
        <ul class="collection">
            <li class="collection-item avatar" th:each="contact: ${contacts}">
                <img src="https://www.promoview.com.br/uploads/images/unnamed%2819%29.png" alt="" class="circle responsive-img" >
                <span class="contname" th:text="${contact.contname}"></span>
                <p th:text="${contact.contnumber}"></p>
              <a th:href="${'/contact/delete/' + contact.id}" class="secondary-content btn red"><i class="material-icons">delete</i></a>
            </li>
          </ul>
    </main>

    <div class="fixed-action-btn">
        <a href="/contact/new" class="btn-floating btn-large red">
          <i class="large material-icons">add</i>
        </a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.dropdown-trigger');
          const options = {
            constrainWidth: false, 
            coverTrigger: false,
          }
          var instances = M.Dropdown.init(elems, options);
      });
    </script>
    
</body>
</html>